<div class="modal"  v-if="isCartOpen">
    <div class="cart">
        <div class="d-center cart__title">
            <div class="">Корзина</div>
            <button  @click="tooggleCart"><i class="gg-math-plus r45"></i></button>
        </div>
        <div class="d-center cart-info">
            <div class="quantityGoods">{{getQuatitityCart}} {{$filters.suffix(getQuatitityCart)}}</div>
            <div @click="clearCart">Очистить список</div>
        </div>
        <div class="listOfGoodsInCart" >
            <div class="goodInCart d-flex" v-for="good in selectedGoods" :key="good.id">
                <img :src="good.image" alt="">
                <div class="name">{{good.name}}</div>
                <button @click="decreaseQuantity(good)"><i class="gg-math-minus"></i></button>
                <div class="quantity">{{good.quantity}}</div>
                <button @click="increaseQuantity(good)"><i class="gg-math-plus"></i></button>
                <button @click="removeFromCart(good)">delete</button>
            </div>
        </div>
        <div class="total d-center">
            <div class="totalPrice">
                <span>Итого</span>
                {{getTotalPrice}}
                
            </div>
            <button>оформить заказ</button>
            
        </div>
    </div>
</div>