
html,body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.breadcrumbs{
    position: relative;
}
.breadcrumbs_inner{
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
    position: absolute;
    padding: 32px 64px;
}
.breadcrumbs a{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.3;
}
.breadcrumbs ul li{
    display: inline;
    margin-right: 5px;
}
.breadcrumbs ul li:not(.br-main)::before {   
    content: "• ";
    color: #FFFFFF;
    opacity: 0.3;
}

.title-p{
    font-weight: 400;
    font-size: 36px;
    line-height: 88%;
    letter-spacing: -0.04em;
    color: #1F2020;
    padding: 36px 24px;
}
.container{
    flex-wrap: nowrap;
    padding: 72px 64px
}
.footer{
    margin-top: auto;
    height: 200px;
    background-color: black;
}
.modal{
    width: 100%;
    height: 100%;
    background-color: #000000ba;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}



@media (max-width: 1399.98px) { 
    
}
@media (max-width: 1199.98px) { 
   
}
@media (max-width: 991.98px) { 
       
}
@media (max-width: 767.98px) { 
    .container{
        padding:0 12px ;
    }
    .slider{
        display: none;
    }
    .breadcrumbs_inner{
        position: initial;
        padding: 0px 24px;
    }
    .breadcrumbs a{
        color:gray;
    }
    .breadcrumbs ul{
        border-top: 1px solid #dddddd;
        padding-top: 16px;
    }
    .breadcrumbs ul li:not(.br-main)::before {   
        content: "• ";
        color: gray;
    }
    .title-p{
        display: block!important;
    }
      
}
@media (max-width: 575.98px) { 
    
    
}