.switch{
    position: relative;
    display: block;
    margin-right: 1em;
    white-space: nowrap;
    line-height: 1;
    margin-bottom: 10px;
    & input{
        position: absolute;
        left: 0;
        top: 0;
        min-width: 1em;
        width: 36px;
        height: 22px;
        z-index: 2;
        opacity: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    & .state{
        &::before{
            content: '';
            background-color: #d4d4d4;
            border-radius: 40px;
            width: 36px;
            box-sizing: unset;
            height: 22px;
            position: absolute;
        
            z-index: 0;
            transition: all .5s ease;
        }
        
    }
    & label{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #1F2020;
        display: inline-block;
        margin: 0;
        text-indent: 48px;

        &::before, &::after{
            content: '';
            width: 7px;
            height: 7px;
            display: block;
            box-sizing: border-box;
            border-radius: 0;
            border: 1px solid transparent;
            z-index: 0;
            position: absolute;
            left: 0;
            top: 7px;
            background-color: transparent;
            transition: all .5s ease;
            border-radius: 100%;
            left: 4px;
            border-color: transparent;
        }
        &::after{
            background-color: #000000!important;
        }
    }
}

.switch input:checked~ label::after {
    background-color: #000000!important;
    left: 25px;
}
.switch input:checked~.state:before {
    border-color: #5a656b;
    background-color: #449f4f;
}