.cart{
    height: 100%;
    width: 600px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    
}
.cart__wrap-img{
    width: 96px;
    height: 96px;
}
.cart__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 88%;
}
.cart-info{

    margin-top: 80px;
    margin-bottom: 10px;
    
}
.quantityGoods{
    text-transform: lowercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 112%;
    color: #1F2020;
}
.listOfGoodsInCart{
    overflow-y: auto;
}
.good-info__wrap{
    padding-left: 8px;
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.good-info__price{
    font-weight: 600;
}
.clearCart{
    user-select: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    line-height: 112%;
    color: #1F2020;
    opacity: 0.4;
    text-transform: uppercase;
}
.cart .name{
    font-weight: 300;
    font-size: 16px;
    line-height: 112%;
}
.cart{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.total{
    margin-top: auto;
}
.goodInCart{
    display: flex;
    
    padding: 12px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}
.goodInCart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.totalPrice{
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
}
.totalPrice-sub{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.delete-btn{
    color: #E5E5E5;
    cursor: pointer;
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
}
.quantity{
    width: 48px;
    text-align: center;
}
.cart__btn-group{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.cart__btn-group-count{
    margin-right: 20px;
    display: flex;
}
.close-btn{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
    background: none;
}
.count-btn{
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    width: 40px;
    align-items: center;
    border: none;
    border-radius: 4px;
}
.count-btn i{
    transform: scale(0.7);
}
.buy-btn{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    width: 240px;
    height: 56px;
    top: 944px;
    background: #7BB899;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.buy-btn:hover{
    background: #8ccfad;
}



.cart {
    scrollbar-width: thin;
    scrollbar-color: #b1abab #d7d7d7;
  }
  
  /* для Chrome/Edge/Safari */
  .cart ::-webkit-scrollbar {
    height: 12px;
    width: 12px;
  }
  .cart ::-webkit-scrollbar-track {
    background: #d7d7d7;
  }
  .cart ::-webkit-scrollbar-thumb {
    background-color: #b1abab;
    border-radius: 5px;
    border: 2px solid #d7d7d7;
  }



@media (max-width: 1399.98px) { 
  
}
@media (max-width: 1199.98px) { 
   
}
@media (max-width: 991.98px) { 
  
}
@media (max-width: 767.98px) { 
  
}
@media (max-width: 575.98px) { 
    .good-info__wrap {
        width: auto;
    }
    .goodInCart {
        flex-wrap: nowrap;
    }
}