.select option{
    
    font-size: 12px;
    
    
}.select option:hover{  
    background: #7bb899;   
}
.select{
    appearance: none;
    font-size: 12px;
    border: none;
    background: white;
    padding: 10px;
    font-weight: 500;
    color: #1F2020;
    line-height: 15px;
    text-align: right;
}
select:focus-visible{
    outline: none;
}
.sort{
    z-index: 1000;
    position: relative;
}

.sort input{
    
    border: none;
    color: transparent;
    text-shadow: 0 0 0 rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;

}
.sort input:focus {
    outline: none;
}
.sort input:hover {
    background-color: #7bb899;
    
}
