.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-card{
    width: 80px;
    height: 32px;
    
    border: none;
    border-radius: 8px;
    cursor: pointer;
    & i{
        width: 10px;
        width: 10px;
    }
    
    &_color_green{
        background:#449f4f;
        &:hover{
            background:#57be63;
        }
        &:active{
            background:#2a6431;
        }
    }
        
    &_color_gray{

    }
    &_size_small{

    }
}