@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import './css/header.css';
@import './css/slider.css';

@import './css/common.css';

@import './css/select.css';
@import './css/switch.css';
@import './css/card.css';
@import './css/cart.css';

html,body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex-wrap: nowrap;
    padding: 72px 64px
}
.filter{
    min-width: 300px;
}
.content{
    width: 100%;  
}

.quatity{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.sort-bar{
    padding: 2px 12px 12px 12px;
    justify-content: space-between;
}
.footer{
    margin-top: auto;
    height: 200px;
    background-color: black;
}
.modal{
    width: 100%;
    height: 100%;
    background-color: #000000ba;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}




